.cont {
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 2px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;*/ 
    /* grid-template-columns: repeat(4, 1fr);*/ 
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 10px; 
      /* grid-template-columns: 1fr 50px 1fr 1fr; /     / grid-template-rows: repeat( 3, 1fr); */
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";  */

    /* column-gap: 15px;
    row-gap: 15px; */
   /* gap: 15px 15px;*/ 
   justify-items: center; /* stretch me height width hatana padegaa*/ 
   align-items: center;
   justify-content: space-evenly;
   align-content: center;
}
.item {
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}

 .item1 {
    grid-area: header;
}
.item2 {
    grid-area: main;
}
.item3 {
    grid-area: sidebar;
}
.item4 {
    grid-area: footer;
} 
